= simple_form_for([@post, @post.comments.build], remote: true) do |f|
  .field
    .control
      = f.input :body, input_html: { class: 'textarea' }, wrapper: false, label_html: { class: 'label' }
  = f.button :submit, 'Leave a comment', class:'button is-info'
