%h1 MAC0218 Project
-###!
  # Precisamos verificar se o usuário esta ou não logado para definir oq irá parecer na página
- if user_signed_in?
  %p Bem vindo #{current_user.email}
  = link_to 'Logout', destroy_user_session_path, :method => :delete
- else
  = link_to 'Log in', new_user_session_path
  = link_to 'Sign up', new_user_registration_path
