= simple_form_for(@subject) do |f|
  = f.error_notification
  .field
    .control
      = f.input :title, input_html: { class: 'input' }, wrapper: false, label_html: { class: 'label' }, label: "Título"
  = f.button :submit, "Criar", class: 'button is-info'
